@import url('http://fonts.googleapis.com/css?family=Overlock|Lora');

#posts { line-height: 1.5em; }

#posts .post-date {
    width: 12em;
    font-size: 12px;
    vertical-align: middle;
    text-align: right;
    color: #666666;
    padding-right: 10px;
}
