@import url('http://fonts.googleapis.com/css?family=Overlock|Lora');
#content {
    width: 90%;
    margin: 20px auto 50px;
}
h1#title {
    color: #35777c;
    font-family: 'Overlock', arial, serif;
    text-align: center;
    font-size: 42px;
    line-height: 42px;
}
h1 {
    color: #333333;
    font-family: 'Overlock', arial, serif;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    text-align: left;
}
h2 {
    color: #333333;
    font-family: 'Overlock', arial, serif;
    text-transform: uppercase;
    font-size: 26px;
    text-align: left;
}
h3#date {
    color: #666666;
    font-size: 13px;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
}
h3 {
    color: #333333;
    font-family: 'Overlock', arial, serif;
    font-size: 20px;
    text-transform: lowercase;
    text-align: left;
}
p {
    color: #333333;
    font-family: 'Lora', serif;
    font-size: 16px;
    line-height: 20px;
    margin: 15px 0;
    padding: 0;
    text-decoration: none;
    text-align: left;
}
img {
    border-style: solid;
    border-width: 10px;
    border-color: #FFFFFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
img:hover {
    border-color: rgba(53,119,124,.75);
}