<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Overlock|Lora' rel='stylesheet' type='text/css'>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    <!-- Atom Feed -->
    <link href="{{ url_for('feed') }}"
      rel="alternate"
      title="Recent Changes"
      type="application/atom+xml">
    {% block head %}
        <title>Aaron's Blog</title>
    {% endblock head %}
</head>
<body>

{% block content %}{% endblock content %}

</body>
</html>