<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Overlock|Lora' rel='stylesheet' type='text/css'>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/syntax.css') }}"/>
    <!-- Atom Feed -->
    <link href="{{ url_for('feed') }}"
      rel="alternate"
      title="Recent Changes"
      type="application/atom+xml">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'img/pinny.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'img/pinny.ico') }}" type="image/x-icon">
    {% block head %}
    <title>Aaron's Blog</title>
    {% endblock %}
</head>
<body>

    {% block content %}{% endblock content %}

    <footer>
        <div id="footer">
            <p id="ft-p">
                This blog was created using <a class="ft-link" href="http://flask.pocoo.org/">Flask</a>. If you are interested in how this website was created please visit the <a class="ft-link" href="https://github.com/azemetre/flask_microblog">github page</a>.
            </p>
        </div>
    </footer>
</body>
</html>